
:host {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 40px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.home-section {
    position: relative;
    text-align: center;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .hero-section {
      z-index: 1;
      color: white;
      text-align: center;
  
      h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }
  
      p {
        font-size: 1.5rem;
        margin-bottom: 2rem;
      }
  
      .cta-button a {
        text-decoration: none;
        color: white;
        padding: 10px 20px;
        background-color: #007bff;
        border-radius: 5px;
        transition: background-color 0.3s;
      }
  
      .cta-button a:hover {
        background-color: #0056b3;
      }
    }
  
    .nav-button {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 2rem;
      color: white;
      background: transparent;
      border: none;
      cursor: pointer;
      z-index: 2;
  
      &:hover {
        color: #007bff;
      }
  
      &.left {
        left: 20px;
      }
  
      &.right {
        right: 20px;
      }
    }
  }
  