
<header class="header">

    <div class="header-container">
        <!-- Logo Section -->
        <div class="logo-container">
            <a class="logo" href="#home">
                <img src="images/logo.png" alt="Oleksandr Nekrashevych Logo">
            </a>
        </div>

        <!-- Navigation Section -->
        <nav role="navigation">
            <ul [class.active]="isMenuOpen" class="nav-list">
              <li class="nav-item"><a routerLink="/home" >Home</a></li>
              <li class="nav-item"><a routerLink="/about" >About Me</a></li>
              <li class="nav-item"><a routerLink="/achievements" >Achievements</a></li>
              <li class="nav-item"><a routerLink="/projects" >Projects</a></li>
              <li class="nav-item"><a routerLink="/skills" >Skills</a></li>
              <li class="nav-item"><a routerLink="/resume" >Resume</a></li>
              <li class="nav-item"><a routerLink="/contact">Contact Me</a></li>
            </ul>
          </nav>

        <!-- Social Media Icons -->
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/oleksandr-nekrashevych-26850a231/" target="_blank" aria-label="LinkedIn">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="https://github.com/NekrashevychOleksandr" target="_blank" aria-label="GitHub">
                <i class="fab fa-github"></i>
            </a>
            <a href="https://stackoverflow.com/users/22842688/oleksandr-nekrashevych" target="_blank" aria-label="Stack Overflow">
                <i class="fab fa-stack-overflow"></i>
            </a>
            <a href="https://www.upwork.com/freelancers/~01c6e233206d88a9e5" target="_blank" aria-label="UpWork">UpWork</a>
        </div>

        <!-- Burger Menu Button -->
        <button class="burger-menu" aria-label="Toggle navigation" (click)="toggleMenu()">
            <span class="burger-line"></span>
            <span class="burger-line"></span>
            <span class="burger-line"></span>
        </button>

    </div>

</header>
